BasedOnStyle: LLVM
IndentWidth: 4
AlignConsecutiveAssignments: false
AlignTrailingComments: true
NamespaceIndentation: None
AlignAfterOpenBracket: DontAlign
SortIncludes: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeElse: false

