[submodule "test/vendor/Catch"]
	path = test/vendor/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "sundown"]
	path = sundown
	url = https://github.com/apiaryio/sundown.git
[submodule "cmdline"]
	path = cmdline
	url = https://github.com/apiaryio/cmdline.git
