[submodule "test/vendor/Catch"]
	path = test/vendor/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "cmdline"]
	path = cmdline
	url = https://github.com/apiaryio/cmdline.git
[submodule "ext/markdown-parser"]
	path = ext/markdown-parser
	url = https://github.com/apiaryio/markdown-parser.git
